@use '../../styles/variables' as var;

.tfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .pagination {
        height: clamp(30px, 4vw, 50px);
        width: clamp(30px, 4vw, 50px);
        border: none;
        outline: none;
        color: #fff;
        font-size: clamp(12px, 2vw, 1rem);
        font-weight: bold;
        border-radius: 50%;
        transition: 0.5s;

        &.active {
            background-color: var.$primary_color;
        }

        &.inactive {
            background-color: white;
            color: var.$secondary_text;
        }
    }
}