@use '../../styles/variables';
@use '../../styles/functions' as f;

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;

    .title {
        @include f.title(30px);
    }

    button {
        @include f.big_button;
    }
}