@use './variables';

@mixin big_button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: variables.$secondary_text;
    border: variables.$primary_border;
    outline: none;
    cursor: pointer;
}

@mixin title($fsize) {
    font-size: $fsize;
    font-weight: bold;
    text-align: center;
    margin: 30px;

    @media(min-width: variables.$breakpoint_mobile) {
        font-size: calc($fsize + 10px);
        margin: 30px 40px;
    }

    @media(min-width: variables.$breakpoint_tablet) {
        font-size: calc($fsize + 20px);
        margin: 30px 60px;
    }

}