$breakpoint_mobile: 480px;
$breakpoint_tablet: 720px;

$primary_color: #0057FF;

$secondary_text: rgb(151, 151, 151);

$footer_text: #a8a8a8;

$success : rgb(234, 249, 238);

$fail : rgb(255, 234, 234);

$primary_border: 1px solid rgba(128, 128, 128, 0.477);