@use "../../styles/variables";


.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-top: 10px;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px 40px;
        border-radius: 10px;
        border: variables.$primary_border;
        transition: all 0.5s;

        &:hover {
            transform: translateX(0px) translateY(-10px);
            border: 1.5px solid variables.$primary_color;
        }

        .coinbase {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }

        .meta,
        .binance {
            width: 100px;
            height: 100px;
            object-fit: cover;

        }

        p {
            font-size: 20px;
        }

        .icon {
            cursor: pointer;
            height: 30px;
            width: 30px;
        }
    }
}