@use '../../styles/functions' as f;
@use '../../styles/variables' as var;


.featured {
    margin-top: 30px;

    .title {
        @include f.newstitle;
    }

    .articles {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        gap: 40px;

        @media (max-width: 900px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        .heading {
            flex: 1.2;
            display: flex;
            flex-direction: column;

            @media(max-width: 900px) {
                padding-bottom: 30px;
                border-bottom: var.$primary_border;
            }

            a {
                text-decoration: none;
            }


            img {
                width: max(100%, calc(50% + 100px));
                height: max(calc(70% + 20px), calc(30% + 50px));
                object-fit: cover;
            }

            .date {
                padding-top: 10px;
                color: var.$secondary_text;
                font-size: 12px;
            }

            .newstitle {
                color: #000;
                padding-top: 10px;
                font-size: clamp(18px, 3vw, 1.7rem);
                font-weight: bold;
            }

            .description {
                color: #000;
                padding-top: 10px;
                text-align: justify;
                font-size: clamp(14px, 2vw, 0.8rem)
            }
        }

        .sidenews {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}