@use '../../styles/functions' as f;
@use '../../styles/variables' as var;


.featured {

    .title {
        @include f.newstitle;
    }

    .articles {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: max(20px, 40px);

        @media (max-width: var.$breakpoint_tablet) {
            flex-direction: column;
            align-items: flex-start;
        }

        .heading {
            flex: 1.2;
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
            }


            img {
                width: max(100%, calc(50% + 100px));
                object-fit: cover;
            }

            .date {
                padding-top: 10px;
                color: var.$secondary_text;
                font-size: 12px;
            }

            .newstitle {
                color: #000;
                padding-top: 10px;
                font-size: clamp(18px, 2vw, 1.7rem);
                font-weight: bold;
            }

            .description {
                color: #000;
                padding-top: 10px;
                text-align: justify;
                font-size: clamp(14px, 2vw, 0.8rem)
            }
        }

        .sidenews {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}