@use '../../styles/functions' as f;
@use '../../styles/variables' as var;

.news {
    margin: 20px max(30px, 10%) 50px;

    .sections {

        .title {
            @include f.newstitle;
        }

        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

}