@use '../../styles/variables' as var;
@use '../../styles/functions' as f;

.price {

    display: flex;
    flex-direction: column;
    gap: 30px;

    .top {
        display: flex;
        flex-direction: column;

        .title {

            @include f.title(25px);
        }

        .letter {
            margin: 0px 30px;
            text-align: center;
            color: var.$secondary_text;
            text-align: justify;
            font-weight: 600;
            margin: auto;
            width: max(200px + 10%, 70%);
        }



    }

    .bottom {
        margin: 20px 10%;
    }
}