@use '../../styles/variables' as var;

.tab {
    margin: 0 10%;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;

        .link {
            text-decoration: none;
            cursor: pointer;
            font-weight: 600;
        }

        .active {
            border-bottom: 3px solid var.$primary_color;
            color: #000;
        }

        .not_active {
            color: var.$secondary_text;
        }
    }
}