@use '../../styles/variables' as var;

@mixin titleStyle($size) {
    font-size: $size;
    color: #f5f5f5;
    font-weight: bold;
    text-align: center;
}

@mixin buttonStyle {
    height: 40px;
    width: 100px;
    outline: none;
    color: var.$primary_color;
    font-weight: bold;
    border: none;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


.footer {
    margin-top: auto;
    padding: 30px 30px 0 30px;
    background-color: var.$primary_color;

    .top {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .title {
            @include titleStyle(28px);
        }

        .iconGroup {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 50px;

            .icon {
                width: 25px;
                height: 25px;
                color: #f5f5f5;
                cursor: pointer;
            }
        }
    }


    .bottom {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .title {
            @include titleStyle(36px);
        }

        .form {
            display: flex;
            align-items: center;
            gap: 10px;
            max-width: 400px;
            min-width: 200px;
            width: 100%;

            input {
                width: 100%;
                outline: none;
                height: 20px;
                padding: 10px;
                background-color: #fff;
                border: none;
            }

            button {
                @include buttonStyle();
            }
        }
    }

    p {
        margin-top: 45px;
        text-align: center;
        font-size: 14px;
        color: var.$footer_text;
    }
}